<div class='container' id='main'>
  <span id='turn'>Tic Tac Toe</span>
  {{#if @model.winner_id}}
    <span id='turn'>Player {{@model.winner_id}} Wins</span>
  {{/if}}

  <div
    class='box'
    style='border-left: 0; border-top: 0'
    id='box1'
    {{on 'click' this.setSign}}
  ></div>
  <div
    class='box'
    style='border-top: 0'
    id='box2'
    {{on 'click' this.setSign}}
  ></div>
  <div
    class='box'
    style='border-top: 0; border-right: 0'
    id='box3'
    {{on 'click' this.setSign}}
  ></div>
  <div
    class='box'
    style='border-left: 0'
    id='box4'
    {{on 'click' this.setSign}}
  ></div>
  <div class='box' id='box5' {{on 'click' this.setSign}}></div>
  <div
    class='box'
    style='border-right: 0'
    id='box6'
    {{on 'click' this.setSign}}
  ></div>
  <div
    class='box'
    style='border-left: 0; border-bottom: 0'
    id='box7'
    {{on 'click' this.setSign}}
  ></div>
  <div
    class='box'
    style='border-bottom: 0'
    id='box8'
    {{on 'click' this.setSign}}
  ></div>
  <div
    class='box'
    style='border-right: 0; border-bottom: 0'
    id='box9'
    {{on 'click' this.setSign}}
  ></div>
</div>

<button class='btn btn-rounded' type='button' {{action this.returnHome}}>Back to
  Home</button>